<?php namespace GlobalTechnology\GlobalMeasurements {

	/**
	 * Enable use of Proxy Ticket Service
	 * Enabling this will allow the app to run on localhost
	 * Disable this for production systems
	 */
	CONST UseProxyTicketService = false;
	CONST ProxyTicketServiceCallback = '';
	CONST ProxyTicketServiceURL = '';
	CONST ProxyTicketServiceUsername = '';
	CONST ProxyTicketServicePassword = '';

	CONST CASHostname = 'thekey.me';
	CONST CASPort = 443;
	CONST CASContext = 'cas';

	CONST MeasurementsAPI = '';
}
