<?php return array(

	/**
	 * Proxy Granting Ticket Service
	 *
	 * Enable this to use the php wrapper on localhost.
	 */
	'pgtservice'   => array(
		/** @var bool Enable PGT Service */
		'enabled'  => false,
		/** @var string PGT Service proxy callback URL */
		'callback' => 'https://agapeconnect.me/casLogin.aspx',
		/** @var string PGT Service endpoint URL */
		'endpoint' => 'https://agapeconnect.me/DesktopModules/AgapeConnect/casauth/pgtcallback.asmx/RetrievePGTCallback',
		/** @var string PGT Service Username */
		'username' => '',
		/** @var string PGT Service Password */
		'password' => '',
	),

	/**
	 * CAS Settings
	 */
	'cas'          => array(
		/** @var string CAS hostname */
		'hostname' => 'thekey.me',
		/** @var int CAS port */
		'port'     => 443,
		/** @var string CAS context */
		'context'  => 'cas',
	),

	/**
	 * Measurements API
	 */
	'measurements' => array(
		/** @var string API endpoint, no training slash */
		'endpoint' => 'https://stage-measurements.global-registry.org/v1'
	),

	/**
	 * Mobile Applications
	 */
	'mobileapps'   => array(
		'ios'     => array(
			'enabled' => false,
			'link'    => 'itms-services://?action=download-manifest&url=https://sbr.global-registry.org/apps/GMA.plist',
		),
		'android' => array(
			'enabled' => false,
			'link'    => 'https://play.google.com/store/apps/details?id=com.expidevapps.android.gma_app.demo', // Stage
			//'link'    => 'https://play.google.com/store/apps/details?id=com.expidevapps.android.gma_app', // Production
		),
	),
);
